
code/.ipynb_checkpoints/create_article_figure-checkpoint.ipynb
code/.ipynb_checkpoints/create_plots-checkpoint.ipynb
code/.ipynb_checkpoints/final-figure-checkpoint.ipynb
code/.ipynb_checkpoints/model_tutorial-checkpoint.ipynb
code/.ipynb_checkpoints/run_models-checkpoint.ipynb
code/.jupyter/desktop-workspaces/default-37a8.jupyterlab-workspace
code/__pycache__/model_vectorised.cpython-37.pyc
figures/model-figure.key
notebooks/.jupyter/desktop-workspaces/default-37a8.jupyterlab-workspace
code/create_article_figure.ipynb
code/create_plots.ipynb
code/final-figure.ipynb
code/.ipynb_checkpoints/model_vectorised_dg_extended-checkpoint.ipynb
code/.ipynb_checkpoints/10-supplementary-checkpoint.ipynb
code/10-supplementary.ipynb
model/SupplementaryMolecules.xlsx
model/SupplementaryReactions.xlsx
